body {
    background-color: #e5e7eb;
    padding: 0px;
    margin: 0px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}



.navContainer {
    background-color: #0ea5e9;
    color: white;
    grid-row: 1 / 5;
    grid-column: 1;
    display: grid;
    grid-template: 0.03fr 0.03fr 0.03fr / 1fr;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0px;
    gap: 20px;
}


.dashContainer {
    display: grid;
    padding: 0px;
    margin: 0px;
    grid-template: 1fr / 0.1fr 0.1fr;
    justify-items: flex-start;
    align-items: center;
}
.dashContainer svg{
    min-width: 50px;
    min-height: 50px;
}
.dashContainer h2 {
    font-size: 1.2rem;
    letter-spacing: 2px;
    padding: 0px;
    margin: 0px;
}

svg {
    max-width: 35px;
    max-height: 25px;
}


.firstContainer, .secondContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.firstContainer div:hover, .secondContainer div:hover {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 3px solid #e5e7eb;
}
.firstContainer div, .secondContainer div {
    display: flex;
    gap: 20px;
    align-items: end;
    padding: 0px;
    margin: 0px;
}
.firstContainer div p, .secondContainer div p{
    font-size: 1.2rem;
    margin: 0px;
    padding: 0px;
    font-weight: bolder;
    letter-spacing: 1.2px;
}

.secondContainer {
    gap: 10px;
}









.profileContainer {
    background-color: white;
    box-shadow: 5px 2px 3px 1px darkgrey;
    grid-row: 1;
    grid-column: 2 / 5;
    padding: 10px 50px;
    padding: 30px;
    box-sizing: border-box;
    margin: 0px;
    row-gap: 20px;
}

.firstBar, .secondBar {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.searchBar, .nameContainer, .hiContainer, .buttonContainer {
    display: flex;
    width: 40%;
    box-sizing: border-box;
    align-items: center;
}

input[type="search"] {
    width: 55ch;
    padding: 5px;
    background-color: #e5e7eb;
    outline: 0px;
    border-radius: 20px;
    border: 1px solid #e5e7eb;
}
.nameContainer, .buttonContainer {
    width: max(200px, 45%);
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.nameContainer p{
    padding: 0px;
    padding: 0px;
    margin: 0px;
    font-weight: bolder;
    font-size: 0.8rem;
}


.hiContainer {
    padding: 20px 0 0 0;
    width: max(200px, 45%);
    justify-content: flex-start;
}
.hiContainer div h2 {
    font-size: 1.2rem;
}
.hiContainer div h2, .hiContainer div p {
    padding: 0;
    margin: 0px;
    font-weight: bolder;
}
.hiContainer svg {
    min-width: 100px;
    min-height: 80px;
}



.buttonContainer {
    gap: 10px;
}
.buttonContainer button {
    background-color: #0ea5e9;
    border: 1px solid #0ea5e9;
    padding: 5px 20px;
    font-weight: bolder;
    border-radius: 20px;
    color: white;
}


.blogContainer {
    grid-row: 2 / 4;
    grid-column: 2 / 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px 60px 20px;
}
.projectContainer {
    width: max(600px, 70%);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.projectContainer div, .subContainer > div {
    border: 1px solid white;
    border-left: 10px solid orange;
    border-radius: 10px;
    background-color: white;
    padding: 15px 20px;
    box-sizing: border-box;
    box-shadow: 5px 10px 5px 0.2px darkgrey;
    width: max(200px, 45%);
}
.blogContainer h3 {
    font-size: 1.5rem;
    width: 100%;
}
.projectContainer div p, .projectContainer div h3, .subContainer div p, .subContainer div h3 {
    padding: 0px;
    margin: 0px;

}
.projectContainer div p, .subContainer div p {
    font-style: oblique;
    font-size: 1rem;
    line-height: 1;
    padding-top: 15px;
}
.projectContainer div svg {
    float: right;
    padding: 30px 0px 0px 5px;
    max-width: 30px;
    max-height: 20px;
}

.subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: max(200px, 25%);
    box-sizing: border-box;
}
.subContainer div h3 {
    font-size: 1.2rem;
}
.subContainer div p, .subContainer div h3, .multiContainer div h5, .multiContainer div p {
    width: 100%;
}
.subContainer div p {
    padding: 10px 0 10px 0;
    border-bottom: 3px solid #e5e7eb;
}
.subContainer div {
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
}
.subContainer > div {
    width: 100%;
}




.multiContainer {
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
}
.multiContainer svg {
    min-width: 70px;
    min-height: 70px;
}
.multiContainer > div {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 0 10px 0;
}
.multiContainer div  div {
    margin: 0px;
    padding: 0;
}
.multiContainer div p {
    border: none;
    padding: 5px 0;
}
.multiContainer div h5 {
    padding: 0px;
    margin: 0px;
    font-size: 0.9rem;
}